<!-- Welcome to {{title}}
Hello {{user}}

{{product1.productName}} -->
<!-- directive -> ng, if, built-in(gibi kendi içinde gelen), ayrıca kendimiz de oluşturabiliyoruz app teki komponentler gibi -->
<!-- ng g(generate/oluştur (-g global ilk kurulumdaki)) component product -->
<!-- ng g component category ve navi(menü, navigator(netscape navigator i hatırla, lan neydi o öyle, sonradan patates oldu) yi oluştur. -->
<!-- <ul> -->
  <!-- <li>Laptop</li>
  <li>Mouse</li>
  <li>Keyboard</li>
  <li>Table</li> -->
  <!-- ngFor li yi tekrarla, directive -->
  <!-- <li *ngFor="let product of products">{{product.productName}}</li>
</ul> -->
<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <app-category></app-category>
    </div>
    <div class="col-md-9">
      <app-product></app-product>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
